<br><br>
<div class="row">
  <div class="col-md">
    <div class="card h-100">
      <img [src]="employee.avatar" alt="" class="card-img-top img-responsive">
    </div>
  </div>
  <div class="col-md">
    <div class="card h-100" style="text-align: center;">
      <h4 class="card-title">
        <br>
        <br>
        Employee ID : {{employee.id}}
        <br><br>
        <div class="form-group">
          First Name : <input #firstName style="width: auto;display: inline" type="text" name="txtName" class="form-control"
            [value]="employee.first_name" />
        </div>
        <div class="form-group">
          Last Name : <input #lastName style="width: auto;display: inline" type="text" name="txtName" class="form-control"
            [value]="employee.last_name" />
        </div>
        <div class="form-group">
          Email Address : <input #email style="width: auto;display: inline" type="text" name="txtName" class="form-control"
            [value]="employee.email" />
        </div>
        <br><br>
        <button type="button" class="btn btn-success" (click)="updateEmployee(firstName.value,lastName.value,email.value)">Update </button>
        <button style="margin-left: 1%;" type="button" class="btn btn-danger" (click)="removeEmployee()">Remove</button>
      </h4>
    </div>
  </div>
</div>